html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-tab{
  height: 100%;
  width: 100%;
}

.wj-tabpanel {
  height: 100%;
  width: 100%;
}

[wj-part="root"] {
  height: 100%;
  width: 100%;
}

.wj-tabpanes {
  height: 100%;
  width: 100%;
}

.app{
  height: 100%;
  width: 100%;
}

/* ブロックとして表示はしているけどvisibilityでhiddenにしている */
.wj-tabpane {
  display: block !important;
  height: 0;
  visibility: hidden;
}

.wj-tabpane.wj-state-active {
  height: 100%;
  visibility: visible;
}
