html, body, #root {
  height: 100%;
  width: 100%;
}

.app{
  height: 100%;
  width: 100%;
}

 .wj-tabpanel {
  height: 100%;
  width: 100%;
}

[wj-part="root"] {
  height: 100%;
  width: 100%;
}

.wj-tabpanes {
  height: 100%;
  width: 100%;
}

.wj-tabpane {
  height: 100%;
  width: 100%;
}
